@use "sass:math";
@import './reset.scss';
@import './variables.scss';

body {
    color: $color-base;
    font-family: 'Montserrat', sans-serif;
    font-size: $type-base;
    line-height: $type-base-lh;
    scroll-behavior: smooth;
}

header {
    width: 100%;
    position: fixed;
    top: $unit-base * -6;
    height: $unit-base * 6;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 $unit-base * 2;
    z-index: 100;
    box-shadow: none;
    background: $color-white;
    transition: top 0.5s ease, box-shadow 0.5s ease;
    img {
        height: $unit-base * 2;
    }
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $unit-desktop;
        width: 100%;
    }
    nav {
        display: flex;
        gap: $unit-base * 3;
    }
    &.visible {
        top: 0;
        box-shadow: $shadow-header;
    }

    a {
        appearance: none;
        text-decoration: none;
        color: $color-base;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: math.div($unit-base, -4);
            width: 0;
            height: $unit-line;
            border-bottom: $unit-line solid $color-base;
            transition: width 0.25s ease;
        }
        &:hover {
            &::before {
                width: 100%;
            }
        }
        &.focused {
            color: $color-primary-dark;
            &::before {
                width: 100%;
                border-color: $color-primary-dark;
            }
        }
    }

    @include breakpoint-mobile {
        position: fixed;
        box-shadow: none;
        background: none;
        top: 0;
        transition: none;
        > div {
            img, a {
                display: none;
            }
        }
    }
}

main > section {
    background: red;
    height: 500px;
    padding: 0 $unit-base * 2;
    margin: 0 auto;
    max-width: $unit-desktop;
    &:first-of-type {
        height: 100vh;
    }
    &:not(:first-of-type) {
        margin-top: $unit-base * 16;
    }

    @include breakpoint-mobile {
        &:not(:first-of-type) {
            margin-top: $unit-base * 10;
        }
    }
}