$unit-base: 12px;
$unit-line: 1px;

$type-small: 14px;
$type-base: 16px;
$type-large: 20px;
$type-heading: 44px;

$type-small-lh: 18px;
$type-base-lh: 24px;
$type-large-lh: 30px;
$type-heading-lh: 54px;

$color-white: #FFF;
$color-base: #001235;
$color-primary: #60BC65;
$color-primary-dark: #22AF2A;
$color-secondary: #7B3FD9;
$color-grey: #5E6E8D;
$color-light-grey: #D7D8DA;

$unit-desktop: 1000px;
@mixin breakpoint-desktop {
    @media (max-width: #{$unit-desktop}) {
        @content;
    }
 }

$unit-mobile: 640px;
@mixin breakpoint-mobile {
    @media (max-width: #{$unit-mobile}) {
        @content;
    }
 }

$shadow-header: 0 $unit-base $unit-base * 3.5 rgba($color-base, 0.025);
$shadow-drawer: $unit-base * -2 0 $unit-base * 3.5 rgba($color-base, 0.1);