@use "sass:math";
@import "../../styles/variables.scss";

.player {
  &.animation-header {
    width: 400px;
    svg {
      width: 300px !important;
    }
  }

  @include breakpoint-mobile {
    &.animation-header {
      width: 300px;
      svg {
        width: 200px !important;
      }
    }
  }
}
