@use "sass:math";
@import '../../styles/variables.scss';

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    position: relative;
    width: $unit-base * 7;
    height: $unit-base * 7;
    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: $unit-base * 5;
        height: $unit-base * 5;
        margin: math.div($unit-base, 2);
        border: math.div($unit-base, 2) solid $color-primary;
        border-radius: 50%;
        animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $color-primary transparent transparent transparent;
    }
    div:nth-child(1) {
      animation-delay: -0.45s;
    }
    div:nth-child(2) {
      animation-delay: -0.3s;
    }
    div:nth-child(3) {
      animation-delay: -0.15s;
    }
}