@use "sass:math";
@import "../../styles/variables.scss";

section.work {
    .filters {
        display: flex;
        align-items: center;
        margin-bottom: $unit-base * 3;
        gap: $unit-base;
        div.options {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            flex-wrap: wrap;
            gap: $unit-base;
            button {
                border: none;
                background: none;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: math.div($unit-base, 2);
                color: $color-base;
                cursor: pointer;
                user-select: none;
                svg {
                    width: math.div($unit-base, 1.5);
                    height: math.div($unit-base, 1.5);
                    path {
                        stroke: $color-base;
                    }
                }
                &:hover {
                    color: $color-primary;
                    svg path {
                        stroke: $color-primary;
                    }
                }
                &:active {
                    color: $color-primary-dark;
                    svg path {
                        stroke: $color-primary-dark;
                    }
                }
            }
        }
        .dropdown {
            flex-shrink: 0;
            width: fit-content;
        }
        h1 {
            flex-shrink: 0;
        }
    }
    article {
        position: relative;
        display: flex;
        align-items: center;
        gap: $unit-base * 3;
        box-shadow: $shadow-card;
        transition: all 0.15s ease;
        box-sizing: border-box;
        user-select: none;
        min-height: $unit-base * 16.5;
        cursor: pointer;
        &:not(:last-child) {
            margin-bottom: $unit-base * 3;
        }
        > a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        h2 {
            display: inline-block;
            margin: 0;
            margin-bottom: $unit-base;
            transition: all 0.15s ease;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: math.div($unit-base, -4);
                width: 0;
                height: $unit-line;
                border-bottom: $unit-line solid $color-primary;
                transition: width 0.25s ease;
            }
        }
        p {
            margin: 0;
            margin-bottom: $unit-base;
        }
        .content {
            padding: $unit-base * 2 0;
            > span {
                color: $color-primary-dark;
                text-decoration: underline;
            }
            > ul {
                appearance: none;
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                color: $color-grey;
                font-size: $type-small;
                line-height: $type-small-lh;
                gap: math.div($unit-base, 2);
                > span {
                    width: $unit-line * 3;
                    height: $unit-line * 3;
                    border-radius: $unit-line * 3;
                    background: $color-grey;
                }
                margin-bottom: math.div($unit-base, 2);
            }
        }
        .image {
            width: $unit-base * 16.5;
            min-width: $unit-base * 16.5;
            align-self: stretch;
            object-fit: cover;
            background: $color-light-grey;
        }

        &:hover {
            box-shadow: $shadow-hover;
            transform: scale(1.005);
            h2 {
                color: $color-primary;
                &::before {
                    width: 100%;
                }
            }
            &::after {
                width: $unit-base * 16.5;
            }
        }

        &:active {
            box-shadow: $shadow-active;
            transform: scale(1);
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            width: 0;
            background: $color-primary;
            opacity: 0.25;
            transition: all 0.3s ease;
        }

        &::before {
            z-index: 10;
            content: "";
            position: absolute;
            left: 0;
            height: 100%;
            width: math.div($unit-base, 2);
            min-width: math.div($unit-base, 2);
            background: $color-primary;
            transition: all 0.3s ease;
            opacity: 1;
        }
    }
    > button {
        background: $color-white;
        color: $color-base;
        outline: none;
        border: $unit-line solid $color-base;
        padding: 0 $unit-base;
        height: $unit-base * 3;
        cursor: pointer;
        user-select: none;
        margin-left: $unit-base * 19.5;
        > svg {
            width: $unit-base;
            margin-left: math.div($unit-base, 2);
            path {
                stroke: $color-base;
            }
        }

        &:hover {
            border-color: $color-primary;
            color: $color-primary;
            > svg path {
                stroke: $color-primary;
            }
        }

        &:active {
            background: rgba($color-primary-dark, 0.05);
        }
    }

    @include breakpoint-desktop {
        .filters .animation-header {
            display: block;
        }
        .filters > div {
            display: none;
        }
        .filters > .dropdown {
            display: none;
        }
        article .content > ul {
            display: none;
        }
    }

    @include breakpoint-mobile {
        .divider {
            margin-bottom: $unit-base * 3;
            border-bottom: $unit-line solid $color-light-grey;
        }
        .divider {
            margin-bottom: $unit-base * 2;
        }
        .filters {
            margin-bottom: $unit-base;
        }
        article {
            flex-direction: row-reverse;
            box-shadow: none;
            &:not(:last-child) {
                margin-bottom: $unit-base * 2;
            }
            .divider {
                margin-bottom: $unit-base * 2;
            }
            .image {
                width: $unit-base * 6;
                min-width: $unit-base * 6;
                height: $unit-base * 6;
                min-height: $unit-base * 6;
                align-self: center;
            }
            &::after {
                display: none;
            }
            &:hover {
                box-shadow: none;
                transform: scale(1);
                h2 {
                    color: $color-primary;
                    &::before {
                        width: 100%;
                    }
                }
                &::after {
                    width: $unit-base * 16.5;
                    min-width: $unit-base * 16.5;
                    opacity: 0.25;
                }
            }

            &:active {
                box-shadow: none;
            }
        }
        > button {
            margin-left: 0;
            width: fit-content;
        }
    }
}
