@use "sass:math";
@import "../../styles/variables.scss";

.header-link {
    appearance: none;
    text-decoration: none;
    color: $color-base;
    position: relative;
    user-select: none;
    &::before {
        content: "";
        position: absolute;
        bottom: math.div($unit-base, -4);
        width: 0;
        height: $unit-line;
        border-bottom: $unit-line solid $color-base;
        transition: width 0.25s ease;
    }
    &:hover {
        &::before {
            width: 100%;
        }
    }
    &.focused {
        color: $color-primary-dark;
        &::before {
            width: 100%;
            border-color: $color-primary-dark;
        }
    }
}

header {
    width: 100%;
    position: fixed;
    height: $unit-base * 6;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 $unit-base * 2;
    z-index: 100;
    box-shadow: none;
    background: $color-white;
    transition: top 0.5s ease, box-shadow 0.5s ease;
    &.home-page {
        top: $unit-base * -6;
    }
    img {
        height: $unit-base * 2;
    }
    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: $unit-desktop;
        width: 100%;
    }
    nav {
        display: flex;
        gap: $unit-base * 3;
    }
    &.visible {
        top: 0;
        box-shadow: $shadow-header;
    }

    .link.nav {
        display: none;
        &::before {
            display: none;
        }
    }

    @include breakpoint-mobile {
        position: fixed;
        box-shadow: none;
        background: none;
        top: 0;
        transition: none;
        padding: $unit-base * 4 $unit-base * 2;
        &.visible {
            box-shadow: none;
        }
        > div {
            img,
            a {
                display: none;
            }
        }
        .link.nav {
            display: flex;
        }
    }
}

.drawer-nav {
    display: none;
    @include breakpoint-mobile {
        position: fixed;
        width: 70%;
        height: 100%;
        z-index: 50;
        display: flex;
        gap: $unit-base * 2;
        flex-direction: column;
        transition: right 0.5s ease, box-shadow 0.5s ease;
        padding: $unit-base * 2.5 $unit-base * 3 0 $unit-base * 4;
        background: $color-white;
        box-sizing: border-box;
        font-size: $type-large;
        line-height: $type-large-lh;
        right: 0;
        user-select: none;
        > img {
            width: $unit-base * 3;
            margin-bottom: $unit-base * 3;
            user-select: none;
        }
        .links {
            margin-top: $unit-base * 3;
            display: flex;
            gap: $unit-base;
            flex-wrap: wrap;
        }
        .header-link {
            width: fit-content;
        }
        &::after {
            content: "";
            position: absolute;
            top: calc(50% - $unit-base * 4);
            left: $unit-base * 1.5;
            width: math.div($unit-base, 2);
            height: $unit-base * 8;
            background: rgba($color-base, 0.05);
            border-radius: $unit-base;
        }
    }
    &.visible {
        .slider,
        .closer {
            display: block;
        }
    }
    .slider,
    .closer {
        display: none;
        position: absolute;
        top: 0;
        left: calc(30vw * -1);
        width: 30vw;
        height: 100%;
    }
    .slider {
        left: 0;
        width: $unit-base * 4;
    }
}

.blur {
    display: none;
    @include breakpoint-mobile {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color-base, 0.25);
        opacity: 0;
        transition: opacity 0.5s ease;
        z-index: 10;
        pointer-events: none;
        &.visible {
            opacity: 1;
            pointer-events: all;
        }
    }
}
